<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>User Profile</title>
</head>
    <body>
        <h1> Welcome <%=user.name%></h1>
        <form action="/users/<%=user.id%>?_method=PUT" method="POST">
            Name: <input type="text" value="<%=user.name%>" /><br/>
            Username: <input type="text" value="<%=user.username%>" /><br/>
            Password: <input type="text" value="<%=user.password%>" /><br/>
            <!-- Edit Profile -->
            <input types="submit" value="Edit Profile"/>
        </form>
        <br><br>

        <!-- DELETE FORM HERE-->
        <form action="/users/<%=user.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Profile"/>
        </form>
        <br><br>

        <!-- Added Fruits -->
        <h3>Fruits added by you:</h3>
        <% for (let i=0; i<user.Fruits.length; i++) {%>
            <li>
                <a href="/fruits/<%=user.Fruits[i].id%>"><%=user.Fruits[i].name%></a>
            </li>
        <% } %>
        <br><br>
    </body>
</html>
